<%= render 'shared/header' %>

<main class="py-10 max-w-7xl mx-auto px-4 sm:px-8">
    <%= form_for(@profile, builder: TailwindInputBuilder) do |f| %>
        <div class="flex justify-end items-center w-full mb-4">
            <div>
                <%= render 'shared/input/buttons/primary', color: "purple", label: "Preview", href: preview_url, target: "_blank" %>
                <%= f.submit "Save", class: "flex-shrink-0 px-4 py-2 text-base font-semibold text-white bg-green-600 rounded-lg shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 focus:ring-offset-green-200" %><br/>
            </div>
        </div>

        <%= render 'shared/edit_section', title: "Profile details" do %>
            <%= f.text_field :name, value: @profile.name || current_user.name, placeholder: "Name" %><br/>
            <div class="form-group">
                <div style="width: 100%">
                    <% if @profile.image.attached? %>
                        <%= image_tag @profile.image, style: "display: block; width: 16em; height: 16em; border-radius: 10%" %>
                    <% end %>
                </div>
                <% f.label :image %>
                <%= f.file_field :image, class: "form-control" %>
                
            </div>
            <%= f.text_field :job_title, value: @profile.job_title, placeholder: "Job title" %><br/>
            <%= f.text_field :total_experience, value: @profile.total_experience, placeholder: "Total experience" %><br/>
            <%= f.text_area :overview, value: @profile.overview, placeholder: "Profile overview", required: true %><br/>
            <p>Career Highlights</p>
            <%= f.text_field :career_highlights, value: concat_str_with_comma(@profile.career_highlights), placeholder: "Career highlights" %>
            <%= render 'shared/multiple_inputs_message' %>
            
            <p>Primary Skills</p>
            <%= f.text_field :primary_skills, value: concat_str_with_comma(@profile.primary_skills), placeholder: "Primary skills" %>
            <%= render 'shared/multiple_inputs_message' %>
            
            <p>Secondary Skills</p>
            <%= f.text_field :secondary_skills, value: concat_str_with_comma(@profile.secondary_skills), placeholder: "Secondary skills" %>
            <%= render 'shared/multiple_inputs_message' %>
            
        <% end %>
        
        <%= render 'shared/edit_section', title: "Experience" do %>
            <%= f.fields_for :experiences do |experience| %>
                <%= render 'shared/input/experience', experience: experience %>
                <h3 class="text-lg font-semibold">Projects</h3>
                    <div class="pl-4 mb-2 border-l border-blueGray-400">
                        <%= render 'shared/edit_sub_section' do %>
                            <%= experience.fields_for :projects do |project| %>
                            <%= render 'shared/input/project', project: project %>
                        <% end %><br/>
                        <%= render 'shared/input/buttons/add', label: "+ Add Project", path: new_project_path(experience.object.id) %>
                    </div>
                <% end %>
            <% end %><br />
            <%= render 'shared/input/buttons/add', label: "+ Add Experience", path: "/experiences/new" %>
        <% end %>

        <%= render 'shared/edit_section', title: "Education" do %>
            <%= f.fields_for :educations do |education| %>
                <%= render 'shared/input/education', education: education %>
            <% end %><br />
            <%= render 'shared/input/buttons/add', label: "+ Add Education", path: "/educations/new" %>
        <% end %>
        
    <% end %>

</main>