<%= render 'shared/header' %>

<main class="py-10 max-w-7xl mx-auto px-4 sm:px-8">
    <div class="flex justify-between align-center">
        <h1 class="text-3xl"> 
            Welcome, <span class="text-purple-600 font-semibold"><%= @user.name %><span>
        </h1>
        
        <div>
            <script>
                function getUrl(){
                    
                    var link = window.location.href + 'show/' + <%= @user.profile.id %>
                    if (navigator.clipboard && window.isSecureContext) {
                        document.getElementById("copy_button").innerHTML = "Copied!"
                        return navigator.clipboard.writeText(link);
                    }
                    else{
                        // If the clipboard isn't available
                        window.open(link)
                    }
                }
            </script>
            <div class="flex flex-col md:flex-row">
                <button id="copy_button" onclick="getUrl()" 
                    class="py-2 px-4 border-2 border-purple-600 text-purple-600 hover:border-purple-700 hover:text-purple-700 
                    text-center text-base font-semibold shadow-md hover:shadow-none focus:outline-none rounded-lg">
                    Copy</button>
                <%= render 'shared/input/buttons/primary', color: "purple", label: "Preview", href: preview_url %>
                <%= render 'shared/input/buttons/secondary', color: "purple", label: "Edit", href: edit_url %>
            </div>
        </div>
    </div>
    
    <%= render 'shared/profile/preview', profile: @user.profile %>
</main>